{
  "openapi": "3.1.0",
  "info": {
    "title": "DaySurface API",
    "description": "An MCP server for Gmail: triage a ranked inbox, draft replies in a real composer, and fill and sign PDF attachments - inside Claude, ChatGPT, or any MCP client.",
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://api.daysurface.com",
      "description": "DaySurface production API"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Liveness probe (public)",
        "description": "Public liveness signal: this process is up and serving.\n\nRuns **no dependency probes**.  Liveness and readiness are different\nquestions and this endpoint answers only the first, for three reasons:\n\n- ``db/engine.py`` builds the engine with ``pool_pre_ping=True`` and no\n  connect timeout, so a database host that stops answering SYN blocks the\n  probe on OS TCP retries (~130s on Linux).  The Dockerfile healthcheck is\n  ``--timeout=5s --retries=3``, so probing here would turn a slow\n  dependency into a container restart loop.\n- This is a sync ``def``, so it runs on the anyio threadpool.  A probe that\n  blocks lets unauthenticated callers park every thread in that pool and\n  stall every other sync route in the app.  ``db/engine.py`` now bounds the\n  connect at ``CONNECT_TIMEOUT_SECONDS``, but a bounded probe on an\n  anonymous endpoint is still a lever an attacker can pull for free.\n- A per-component rollup readable by anonymous callers is a disclosure\n  oracle in its own right (\"one of their backends is erroring right now\").\n\nNothing consumes the rollup: Railway ``healthcheckPath``, Render\n``healthCheckPath`` and the Dockerfile ``HEALTHCHECK`` all assert on the\nstatus code alone.  Readiness lives on ``/health/detail``.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/health/detail": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Detailed health (authenticated)",
        "description": "Full health payload - build identity plus per-component status.\n\nAuthenticated-only: the git commit identifies the exact deployed revision\nof an open-source codebase, which is exactly the disclosure ASVS V14.3.3\nwarns about.\n\nThis is a sync ``def`` and it does probe, so the threadpool argument in\n``health_check`` applies here too - authentication changes who can pull the\nlever, not that it exists.  What bounds it is ``db/engine.py``'s\n``CONNECT_TIMEOUT_SECONDS``: the Redis client already carries its own\nsocket timeouts and the Stripe probe makes no network call, so with the\ndatabase connect bounded, no probe here can hold a worker indefinitely.",
        "operationId": "health_detail_health_detail_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "tags": [
          "well-known"
        ],
        "summary": "Mcp Server Card",
        "description": "SEP-2127 Server Card - pre-connect registry/client discovery.\n\nLets agents preview the server before opening a transport: identity\n(``name``/``title``/``description``/``version``/``icons``), where to connect\n(``serverUrl`` + ``remotes``), and the tool surface (``tools[]``).\n\nNo ``$schema`` is emitted: the draft SEP-2127 server-card schema is not yet\npublished (the URL 404s), so advertising it would only break validators.",
        "operationId": "mcp_server_card__well_known_mcp_server_card_json_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/.well-known/agent-card.json": {
      "get": {
        "tags": [
          "well-known"
        ],
        "summary": "A2A Agent Card",
        "description": "A2A Agent Card (spec v0.3.0) - pre-connect agent discovery document.\n\nDiscovery/branding only: it advertises this agent's identity and skills so\nA2A registries/clients can find it. We intentionally do not declare a\n``preferredTransport`` because the server implements no A2A wire transport;\nadvertising one would point clients at an endpoint that can't speak it.",
        "operationId": "a2a_agent_card__well_known_agent_card_json_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/.well-known/api-catalog": {
      "get": {
        "tags": [
          "well-known"
        ],
        "summary": "Api Catalog",
        "description": "RFC 9727 API catalog - points agents/crawlers at the OpenAPI description.\n\nReturns an RFC 9264 linkset whose ``service-desc`` link references this\nserver's OpenAPI document, so function-calling agents can discover the\nmachine-readable API contract from one well-known URL. Absolute URLs are\nemitted when ``API_PUBLIC_URL`` is configured (matching the OpenAPI\n``servers`` block); otherwise relative hrefs let the client resolve them\nagainst the request origin.",
        "operationId": "api_catalog__well_known_api_catalog_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/.well-known/http-message-signatures-directory": {
      "get": {
        "tags": [
          "well-known"
        ],
        "summary": "Web Bot Auth Directory",
        "description": "Web Bot Auth key directory - the agent's Ed25519 public signing keys.\n\nPublic discovery: any origin verifying this agent's HTTP Message Signatures\nreads it cross-origin, so it is served with ``Access-Control-Allow-Origin:\n*`` and the directory-specific JWKS media type.",
        "operationId": "web_bot_auth_directory__well_known_http_message_signatures_directory_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource/mcp": {
      "get": {
        "tags": [
          "well-known"
        ],
        "summary": "Protected Resource Metadata For Mcp",
        "operationId": "protected_resource_metadata_for_mcp__well_known_oauth_protected_resource_mcp_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Protected Resource Metadata For Mcp  Well Known Oauth Protected Resource Mcp Get"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "tags": [
          "well-known"
        ],
        "summary": "Protected Resource Metadata Root",
        "operationId": "protected_resource_metadata_root__well_known_oauth_protected_resource_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Protected Resource Metadata Root  Well Known Oauth Protected Resource Get"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server/mcp": {
      "get": {
        "tags": [
          "well-known"
        ],
        "summary": "Authorization Server Metadata For Mcp",
        "operationId": "authorization_server_metadata_for_mcp__well_known_oauth_authorization_server_mcp_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "tags": [
          "well-known"
        ],
        "summary": "Authorization Server Metadata Root",
        "operationId": "authorization_server_metadata_root__well_known_oauth_authorization_server_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_connect": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Begin the Google OAuth flow to link a Gmail account",
        "operationId": "svc_gmail_connect_api_v1_services_gmail_connect_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailConnectInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailConnectResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_status": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Return whether the user has a linked Gmail account",
        "operationId": "svc_gmail_status_api_v1_services_gmail_status_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailStatusInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailStatusResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_disconnect": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Revoke and remove the user's linked Gmail account",
        "operationId": "svc_gmail_disconnect_api_v1_services_gmail_disconnect_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailDisconnectInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailDisconnectResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_add_attachment": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Attach one file to an existing Gmail draft and return the draft's full attachment list (each with attachment_id, filename, mime_type, size_bytes). Only the attachments change - body, subject, and recipients are preserved exactly. Pass the file as 'attachment' (filename + mime_type + base64 data_base64).",
        "operationId": "svc_gmail_add_attachment_api_v1_services_gmail_add_attachment_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailAddAttachmentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailDraftAttachmentsResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_remove_attachment": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Remove one file from a Gmail draft by its attachment_id and return the draft's remaining attachment list. Only the attachments change - body, subject, and recipients are preserved exactly. The attachment_id comes from any prior draft response or gmail_get_draft.",
        "operationId": "svc_gmail_remove_attachment_api_v1_services_gmail_remove_attachment_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailRemoveAttachmentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailDraftAttachmentsResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_list_inbox": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "List recent messages, optionally filtered by a Gmail search query. Searches the inbox by default; messages the user sent are never in the inbox, so pass mailbox='sent' or mailbox='all' to find them. When the user asks to find or open a specific email, ALWAYS follow up by calling gmail_get_thread with the thread_id to render the full conversation in an interactive UI.",
        "operationId": "svc_gmail_list_inbox_api_v1_services_gmail_list_inbox_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailListInboxInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailListInboxResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_get_thread": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Fetch a Gmail thread by id with full message bodies. By default attachment/inline-image bytes are omitted (each attachment still carries filename, mime_type, size, attachment_id) to keep the payload small - fetch a file on demand with gmail_get_attachment. Pass include_attachment_data=true to inline bytes, or strip_quoted_replies=true to drop repeated quoted history. When an interactive UI is rendered alongside the result, keep your text response brief since the user can browse the conversation in the UI.",
        "operationId": "svc_gmail_get_thread_api_v1_services_gmail_get_thread_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailGetThreadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailThread"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_get_attachment": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Fetch the raw base64 bytes of a single attachment or inline image on a Gmail message, identified by the message_id + attachment_id echoed by gmail_get_thread. Use this to pull one file on demand instead of loading every attachment into the thread payload. data_base64 is raw encoded bytes, not a rendered image - you cannot read an image's contents from it; on vision-capable MCP hosts, image attachments are additionally rendered into context as a viewable image.",
        "operationId": "svc_gmail_get_attachment_api_v1_services_gmail_get_attachment_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailGetAttachmentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailAttachmentData"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_mark_thread_read": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Mark a Gmail thread as read by removing the UNREAD label",
        "operationId": "svc_gmail_mark_thread_read_api_v1_services_gmail_mark_thread_read_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailThreadModifyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailMarkReadResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_archive_thread": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Archive a Gmail thread by removing the INBOX label. Also marks the thread dismissed in the curation ledger. During a triage pass, continue on to the next uncurated or stale thread.",
        "operationId": "svc_gmail_archive_thread_api_v1_services_gmail_archive_thread_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailThreadModifyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailArchiveResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_mark_thread_done": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Mark a Gmail thread as done by applying the MCP/Done label (hides from curated inbox). Also marks the thread dismissed in the curation ledger. During a triage pass, continue on to the next uncurated or stale thread.",
        "operationId": "svc_gmail_mark_thread_done_api_v1_services_gmail_mark_thread_done_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailThreadModifyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailMarkDoneResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_unmark_thread_done": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Remove the MCP/Done label from a thread (undo mark-done)",
        "operationId": "svc_gmail_unmark_thread_done_api_v1_services_gmail_unmark_thread_done_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailThreadModifyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailUnmarkDoneResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_curate_inbox": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Rank recent inbox threads by a deterministic heuristic score and render the inbox dashboard. This is a quick provisional view, NOT the assistant's own triage: for 'what's important / triage my inbox', prefer inbox_get_curation (banked LLM verdicts + coverage), going deeper with inbox_search + inbox_save_curation when coverage shows uncurated/stale threads. When an interactive UI is rendered alongside the result, keep your text response brief (a one-line summary) since the user can browse details in the UI. Only elaborate if the user asks.",
        "operationId": "svc_gmail_curate_inbox_api_v1_services_gmail_curate_inbox_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailCurateInboxInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailCurateInboxResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_list_drafts": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "List the user's Gmail drafts",
        "operationId": "svc_gmail_list_drafts_api_v1_services_gmail_list_drafts_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailListDraftsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailListDraftsResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_get_draft": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Fetch a single Gmail draft by id",
        "operationId": "svc_gmail_get_draft_api_v1_services_gmail_get_draft_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailGetDraftInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailDraft"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_update_draft": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Patch fields on an existing Gmail draft and open an interactive composer UI. Non-destructive by default: any field you OMIT is left unchanged on the draft, and a field set to null is CLEARED - this holds for to, cc, bcc, subject, body, and attachments. Omit 'attachments' to keep every existing file untouched (so you can edit the body repeatedly without re-uploading); pass null or [] to drop them all. 'attachments' may mix new uploads (filename + mime_type + data_base64) with references to existing files ({attachment_id}) taken from a prior response, letting you preserve specific files by id. To add or remove a single file without touching the body, prefer gmail_add_attachment / gmail_remove_attachment. The returned draft echoes the saved state (recipients, subject, body_preview, and the full attachment list with ids/filenames/sizes). ALWAYS call this tool to write or edit draft content - NEVER compose email text as plain chat text. Pass your composed text in the 'body' parameter. Keep your chat response to one brief sentence since the user can edit in the UI.",
        "operationId": "svc_gmail_update_draft_api_v1_services_gmail_update_draft_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailUpdateDraftInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailDraft"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_compose": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Create a new Gmail draft from the given fields and open an interactive composer UI. Returns the draft's actual saved state - draft_id, thread_id, recipients, subject, a body_preview, and the attachment list (each with attachment_id, filename, mime_type, size_bytes) - so you can verify what was saved without a follow-up gmail_get_draft. To edit it afterward use gmail_update_draft, which preserves omitted fields and keeps attachments unless you clear them. ALWAYS use this tool instead of composing email text in chat - it creates a real Gmail draft where the user can review, edit, and send. When an interactive UI is rendered alongside the result, keep your text response brief since the user can edit in the UI.",
        "operationId": "svc_gmail_compose_api_v1_services_gmail_compose_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailComposeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailDraft"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_send": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Send a previously-composed Gmail draft",
        "operationId": "svc_gmail_send_api_v1_services_gmail_send_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailSendInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailSendResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_discard_draft": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Delete a Gmail draft by id",
        "operationId": "svc_gmail_discard_draft_api_v1_services_gmail_discard_draft_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailDiscardDraftInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailDiscardDraftResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_reply_to_thread": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Create a reply draft on an existing Gmail thread. ALWAYS use this tool instead of composing reply text in chat - it creates a real Gmail draft and opens an interactive composer UI where the user can review, edit, and send. Pass your drafted reply in the 'body' parameter. Recipients are yours to control: pass 'to', 'cc', and/or 'bcc' (each a comma-separated address list) to set them explicitly. If you omit 'to', it defaults to the other party in the thread (never the account owner); omitted 'cc'/'bcc' are left unset. If every message in the thread is yours (no other participant to reply to), you must pass 'to' explicitly or the call errors. When an interactive UI is rendered alongside the result, keep your text response brief since the user can edit in the UI.",
        "operationId": "svc_gmail_reply_to_thread_api_v1_services_gmail_reply_to_thread_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailDraft"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/webhook_subscribe": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Register an HTTPS endpoint to receive signed webhook events",
        "operationId": "svc_webhook_subscribe_api_v1_services_webhook_subscribe_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscribeResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/webhook_list": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "List the caller's webhook subscriptions (secrets are never returned)",
        "operationId": "svc_webhook_list_api_v1_services_webhook_list_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/webhook_unsubscribe": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Deactivate a webhook subscription so it stops receiving events",
        "operationId": "svc_webhook_unsubscribe_api_v1_services_webhook_unsubscribe_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUnsubscribeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookUnsubscribeResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/webhook_rotate_secret": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Issue a new signing secret for a subscription (invalidates the old one)",
        "operationId": "svc_webhook_rotate_secret_api_v1_services_webhook_rotate_secret_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRotateSecretInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookRotateSecretResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_watch_start": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Subscribe the user's Gmail inbox to push notifications",
        "operationId": "svc_gmail_watch_start_api_v1_services_gmail_watch_start_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailWatchStartInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailWatchStartResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/gmail_watch_stop": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Cancel the user's Gmail push-notification watch",
        "operationId": "svc_gmail_watch_stop_api_v1_services_gmail_watch_stop_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GmailWatchStopInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailWatchStopResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/greet": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Greet a user by name",
        "operationId": "svc_greet_api_v1_services_greet_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GreetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GreetResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/inbox_get_curation": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Read banked inbox triage from the curation ledger. Cheap: no email bodies are fetched and no reasoning is run - it returns judgments the assistant already made (bucket, importance, summary, suggested action) plus a coverage count of curated / stale / uncurated threads in the inbox. Call this FIRST for any 'what's important / triage my inbox' request. If coverage shows many uncurated or stale threads and the user wants a thorough pass, go deeper with inbox_search + inbox_save_curation; otherwise answer directly from these banked verdicts.",
        "operationId": "svc_inbox_get_curation_api_v1_services_inbox_get_curation_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCurationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurationResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/inbox_search": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Search recent inbox threads headlessly (no UI) when doing a thorough triage pass - use this to actually look at many emails. Returns thread summaries (subject, sender, snippet, recency) each annotated with its ledger status: 'uncurated' / 'stale' threads are the delta worth reasoning about; 'curated' threads are already banked and can be skipped. Uncurated threads also carry a provisional heuristic importance_prior. Pass since_history_id (from a prior result's current_history_id) to fetch only changed threads. After reasoning over the results, bank your verdicts with inbox_save_curation.",
        "operationId": "svc_inbox_search_api_v1_services_inbox_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxSearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxSearchResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/inbox_save_curation": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Bank your triage judgments for one or more threads into the curation ledger so they are not re-reasoned next time. Call this after reading and reasoning over threads (typically from inbox_search) - pass a batch of per-thread verdicts (bucket, importance, a short summary, suggested action, optional reasoning/confidence). Each write stamps the thread's current Gmail historyId so the verdict stays valid until the thread changes. This is what makes the next inbox_get_curation near-free.",
        "operationId": "svc_inbox_save_curation_api_v1_services_inbox_save_curation_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveCurationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveCurationResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/pdf_open": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Open a PDF into a server-side editing session and return everything needed to plan edits: a doc_id handle, the fillable form-field inventory (name, type, current value, page, rect), and - for flat PDFs without form fields - the existing text layout with coordinates for anchoring text overlays. The PDF bytes stay server-side; every later pdf_* call takes the doc_id. Optionally pass render_pages (1-based page numbers) to also get PNG renders of pages for visual inspection. Coordinates are PDF user space: origin at the page's bottom-left corner, in points (1/72 inch).",
        "operationId": "svc_pdf_open_api_v1_services_pdf_open_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfOpenInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfOpenResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/pdf_edit": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Apply a batch of edits to an open PDF document session. Ops: {op:'set_field', name, value} fills an AcroForm field (checkbox/radio/choice values must match the field's options); {op:'add_text', page, x, y, text, font_size?} stamps a text overlay onto a flat PDF at PDF user-space coordinates (origin bottom-left, points). The batch is atomic: any invalid op rejects the whole batch and the document is unchanged. Pass render_pages (1-based) to get PNG renders back for verifying placement. Rejected once a signature has been requested or the document is signed.",
        "operationId": "svc_pdf_edit_api_v1_services_pdf_edit_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfEditInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfEditResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/pdf_request_signature": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Hand a filled PDF document over to the user for signing. Locks the document (no further edits) and opens the signing ceremony: the user reviews the document and types their full legal name themselves - signing can never be performed by the assistant. placement says where the signature stamp goes: a signature field's name from pdf_open's fields[], or {page, x, y} in PDF user-space coordinates (origin bottom-left, points) for flat PDFs. Call pdf_export afterwards to deliver the signed file.",
        "operationId": "svc_pdf_request_signature_api_v1_services_pdf_request_signature_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfRequestSignatureInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfRequestSignatureResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/pdf_export": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Deliver a PDF document session to its destination - v1: attach it to an existing Gmail draft, server-side (the PDF bytes never enter this conversation). Default filename is '{original-stem}-signed.pdf' for signed documents, '{original-stem}-filled.pdf' otherwise; override with destination.filename. Returns the draft's resulting attachment list. Rejected while a signature request is pending.",
        "operationId": "svc_pdf_export_api_v1_services_pdf_export_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfExportInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfExportResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/webhook_settings": {
      "post": {
        "tags": [
          "services"
        ],
        "summary": "Open your settings: Gmail connection status and webhook subscriptions",
        "operationId": "svc_webhook_settings_api_v1_services_webhook_settings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSettingsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSettingsResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Me",
        "operationId": "me_api_v1_auth_me_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/api-keys": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Create Key",
        "operationId": "create_key_api_v1_auth_api_keys_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAPIKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "List Keys",
        "operationId": "list_keys_api_v1_auth_api_keys_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum items to return (1-100).",
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum items to return (1-100)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque pagination cursor returned as `next_cursor` by a prior call.",
              "title": "Cursor"
            },
            "description": "Opaque pagination cursor returned as `next_cursor` by a prior call."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorPage_APIKeyInfo_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/api-keys/{key_id}": {
      "delete": {
        "tags": [
          "auth"
        ],
        "summary": "Delete Key",
        "operationId": "delete_key_api_v1_auth_api_keys__key_id__delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Key Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/google/start": {
      "get": {
        "tags": [
          "google-oauth"
        ],
        "summary": "Start",
        "description": "Kick off the OAuth flow: redirect the user to Google's consent screen.",
        "operationId": "start_api_v1_auth_google_start_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/google/callback": {
      "get": {
        "tags": [
          "google-oauth"
        ],
        "summary": "Callback",
        "description": "Exchange the authorization code for tokens and persist the refresh token.",
        "operationId": "callback_api_v1_auth_google_callback_get",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Code"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            }
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Error"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/checkout/create": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Create Checkout",
        "description": "Create a Stripe Checkout Session for the Plus tier.",
        "operationId": "create_checkout_api_v1_billing_checkout_create_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/cancel": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Cancel Subscription",
        "description": "Cancel the user's Stripe subscription.",
        "operationId": "cancel_subscription_api_v1_billing_cancel_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/usage/report": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Report Usage",
        "description": "Report a single usage event via Stripe Billing Meter.\n\nThis endpoint is for explicit metering (e.g. batch/external usage) and\nis separate from the daily quota enforced by ``ensure_daily_limit`` on\nservice routes. Do not call this for actions that already pass through\nthe services route, as it would double-count usage.\n\nRequires an ``Idempotency-Key`` header so that retries are safe: the\nkey deduplicates both the Stripe MeterEvent and the local DB counter\nincrement.",
        "operationId": "report_usage_api_v1_billing_usage_report_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/usage/current": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "Get Current Usage",
        "description": "Return current period usage, daily quota limit, and billing overage info.",
        "operationId": "get_current_usage_api_v1_billing_usage_current_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/subscription/status": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "Subscription Status",
        "description": "Return current subscription tier, status, usage, and payment info.",
        "operationId": "subscription_status_api_v1_billing_subscription_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/webhook/stripe": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Stripe Webhook",
        "description": "Handle incoming Stripe webhook events.",
        "operationId": "stripe_webhook_api_v1_billing_webhook_stripe_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/google/webhook/gmail": {
      "post": {
        "tags": [
          "google-webhooks"
        ],
        "summary": "Gmail Push",
        "description": "Receive an authenticated Gmail Pub/Sub push notification.",
        "operationId": "gmail_push_api_v1_google_webhook_gmail_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/google/internal/renew": {
      "post": {
        "tags": [
          "google-webhooks"
        ],
        "summary": "Internal Renew",
        "description": "Drive watch renewal + outbox draining (external scheduler entrypoint).",
        "operationId": "internal_renew_api_v1_google_internal_renew_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/agentic-payments/status": {
      "get": {
        "tags": [
          "agentic-payments"
        ],
        "summary": "Payment Status",
        "description": "Return enabled payment protocols and their availability.",
        "operationId": "payment_status_api_v1_agentic_payments_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Payment Status Api V1 Agentic Payments Status Get"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agentic-payments/requirements": {
      "post": {
        "tags": [
          "agentic-payments"
        ],
        "summary": "Create Payment Requirement",
        "description": "Generate a payment requirement for a given protocol.\n\nReturns the data needed to construct a 402 response.",
        "operationId": "create_payment_requirement_api_v1_agentic_payments_requirements_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequirementRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Create Payment Requirement Api V1 Agentic Payments Requirements Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agentic-payments/verify": {
      "post": {
        "tags": [
          "agentic-payments"
        ],
        "summary": "Verify Payment",
        "description": "Verify an incoming payment payload against a requirement.",
        "operationId": "verify_payment_api_v1_agentic_payments_verify_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Verify Payment Api V1 Agentic Payments Verify Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ask": {
      "post": {
        "tags": [
          "ask"
        ],
        "summary": "Ask Post",
        "operationId": "ask_post_ask_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Ask Post Ask Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ask"
        ],
        "summary": "Ask Get",
        "operationId": "ask_get_ask_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Query"
            }
          },
          {
            "name": "streaming",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Streaming"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "list",
                "summarize",
                "generate"
              ],
              "type": "string",
              "default": "generate",
              "title": "Mode"
            }
          },
          {
            "name": "query_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Query Id"
            }
          },
          {
            "name": "prev",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Prev"
            }
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Site"
            }
          },
          {
            "name": "decontextualized_query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decontextualized Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Ask Get Ask Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/waitlist/join": {
      "post": {
        "tags": [
          "waitlist"
        ],
        "summary": "Join the waitlist (public)",
        "operationId": "join_waitlist_waitlist_join_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistJoinResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "APIKeyInfo": {
        "properties": {
          "id": {
            "type": "integer",
            "title": "Id"
          },
          "key_prefix": {
            "type": "string",
            "title": "Key Prefix"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "scopes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scopes"
          },
          "revoked": {
            "type": "boolean",
            "title": "Revoked"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          },
          "last_used_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Used At"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "key_prefix",
          "name",
          "revoked",
          "created_at"
        ],
        "title": "APIKeyInfo"
      },
      "AddTextOp": {
        "properties": {
          "op": {
            "type": "string",
            "const": "add_text",
            "title": "Op",
            "default": "add_text"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "title": "Page",
            "description": "1-based page number"
          },
          "x": {
            "type": "number",
            "title": "X",
            "description": "Left edge of the text, PDF user space (points)"
          },
          "y": {
            "type": "number",
            "title": "Y",
            "description": "Baseline of the text, PDF user space (origin bottom-left)"
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "title": "Text"
          },
          "font_size": {
            "type": "number",
            "maximum": 72,
            "exclusiveMinimum": 0,
            "title": "Font Size",
            "default": 10
          }
        },
        "type": "object",
        "required": [
          "page",
          "x",
          "y",
          "text"
        ],
        "title": "AddTextOp",
        "description": "Stamp a text overlay onto a page (for flat PDFs without form fields)."
      },
      "AskInput": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query"
          },
          "streaming": {
            "type": "boolean",
            "title": "Streaming",
            "default": true
          },
          "mode": {
            "type": "string",
            "enum": [
              "list",
              "summarize",
              "generate"
            ],
            "title": "Mode",
            "default": "generate"
          },
          "query_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Query Id"
          },
          "prev": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Prev"
          },
          "site": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Site"
          },
          "decontextualized_query": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decontextualized Query"
          }
        },
        "type": "object",
        "required": [
          "query"
        ],
        "title": "AskInput",
        "description": "A natural-language question plus NLWeb conversation context."
      },
      "AttachmentInput": {
        "properties": {
          "filename": {
            "type": "string",
            "maxLength": 256,
            "minLength": 1,
            "title": "Filename",
            "description": "Display name for the attachment, e.g. 'report.pdf'"
          },
          "mime_type": {
            "type": "string",
            "maxLength": 256,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9!#$&\\-^_.+]*\\/[a-zA-Z0-9][a-zA-Z0-9!#$&\\-^_.+]*$",
            "title": "Mime Type",
            "description": "MIME type, e.g. 'application/pdf'"
          },
          "data_base64": {
            "type": "string",
            "maxLength": 34000000,
            "minLength": 1,
            "title": "Data Base64",
            "description": "Base64-encoded file content"
          }
        },
        "type": "object",
        "required": [
          "filename",
          "mime_type",
          "data_base64"
        ],
        "title": "AttachmentInput",
        "description": "A file attachment to include on an outgoing email.\n\nPass ``data_base64`` with the file content base64-encoded. Works from any\nMCP host (ChatGPT, Claude, etc.) regardless of filesystem access."
      },
      "AttachmentReference": {
        "properties": {
          "attachment_id": {
            "type": "string",
            "minLength": 1,
            "title": "Attachment Id",
            "description": "Stable id of an attachment already on the draft to preserve"
          }
        },
        "type": "object",
        "required": [
          "attachment_id"
        ],
        "title": "AttachmentReference",
        "description": "Reference to an attachment already present on a draft, by its stable id.\n\nPass this (instead of an ``AttachmentInput``) in ``gmail_update_draft`` to\nkeep an existing file on the draft without re-uploading its bytes. The\n``attachment_id`` comes from the ``attachments[].attachment_id`` echoed by\nany prior draft mutation (compose / update / add / remove) or\n``gmail_get_draft``."
      },
      "CoverageSummary": {
        "properties": {
          "curated": {
            "type": "integer",
            "title": "Curated",
            "default": 0
          },
          "stale": {
            "type": "integer",
            "title": "Stale",
            "default": 0
          },
          "uncurated": {
            "type": "integer",
            "title": "Uncurated",
            "default": 0
          }
        },
        "type": "object",
        "title": "CoverageSummary",
        "description": "How much of the current inbox is covered by the ledger.\n\nThe host reads these counts to decide whether to go deeper: a large\n``uncurated`` or ``stale`` count is the signal to run a deep pass."
      },
      "CreateAPIKeyRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "default": "Default"
          },
          "expires_in_days": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires In Days"
          },
          "scopes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scopes"
          },
          "scope_template": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scope Template"
          }
        },
        "type": "object",
        "title": "CreateAPIKeyRequest"
      },
      "CreateAPIKeyResponse": {
        "properties": {
          "key": {
            "type": "string",
            "title": "Key"
          },
          "key_prefix": {
            "type": "string",
            "title": "Key Prefix"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "scopes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scopes"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          }
        },
        "type": "object",
        "required": [
          "key",
          "key_prefix",
          "name"
        ],
        "title": "CreateAPIKeyResponse"
      },
      "CurationBucket": {
        "type": "string",
        "enum": [
          "needs_reply",
          "waiting_on",
          "fyi",
          "noise"
        ],
        "title": "CurationBucket",
        "description": "Where the host LLM sorted a thread."
      },
      "CurationRecord": {
        "properties": {
          "thread_id": {
            "type": "string",
            "title": "Thread Id"
          },
          "bucket": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CurationBucket"
              },
              {
                "type": "null"
              }
            ]
          },
          "importance": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Importance"
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Summary"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning"
          },
          "suggested_action": {
            "$ref": "#/components/schemas/SuggestedAction",
            "default": "none"
          },
          "draft_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Draft Id"
          },
          "confidence": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence"
          },
          "state": {
            "$ref": "#/components/schemas/CurationState",
            "default": "curated"
          },
          "curator_version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Curator Version"
          },
          "curated_history_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Curated History Id"
          },
          "curated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Curated At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          },
          "ledger_status": {
            "$ref": "#/components/schemas/LedgerStatus",
            "default": "curated"
          }
        },
        "type": "object",
        "required": [
          "thread_id"
        ],
        "title": "CurationRecord",
        "description": "Decrypted, host-facing curation verdict for one thread."
      },
      "CurationState": {
        "type": "string",
        "enum": [
          "pending",
          "curated",
          "acted",
          "dismissed"
        ],
        "title": "CurationState",
        "description": "Lifecycle of a ledger row.\n\n- ``pending``   - a row exists but has not been curated (reserved for a\n  future server-side prior; the host never writes this).\n- ``curated``   - the host LLM has recorded a judgment.\n- ``acted``     - an action tool (archive / mark-done / reply) has run.\n- ``dismissed`` - the thread was archived / marked done (removed from inbox)."
      },
      "CursorPage_APIKeyInfo_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/APIKeyInfo"
            },
            "type": "array",
            "title": "Items",
            "description": "The items on this page."
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor",
            "description": "Opaque cursor for the next page. Pass it back as `cursor`. `null` when there are no more items."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "True when another page is available via `next_cursor`.",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "CursorPage[APIKeyInfo]"
      },
      "GetCurationInput": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "default": ""
          },
          "bucket": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CurationBucket"
              },
              {
                "type": "null"
              }
            ]
          },
          "state": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CurationState"
              },
              {
                "type": "null"
              }
            ]
          },
          "fresh_only": {
            "type": "boolean",
            "title": "Fresh Only",
            "description": "Drop rows whose thread has changed since it was curated.",
            "default": false
          },
          "check_freshness": {
            "type": "boolean",
            "title": "Check Freshness",
            "description": "Compare each row's curated historyId against the thread's current Gmail historyId to flag stale rows. Uses one ids-only threads.list (no message bodies, no inference).",
            "default": true
          },
          "limit": {
            "type": "integer",
            "maximum": 500,
            "minimum": 1,
            "title": "Limit",
            "default": 50
          }
        },
        "type": "object",
        "title": "GetCurationInput"
      },
      "GetCurationResult": {
        "properties": {
          "records": {
            "items": {
              "$ref": "#/components/schemas/CurationRecord"
            },
            "type": "array",
            "title": "Records"
          },
          "coverage": {
            "$ref": "#/components/schemas/CoverageSummary"
          }
        },
        "type": "object",
        "required": [
          "records",
          "coverage"
        ],
        "title": "GetCurationResult"
      },
      "GmailAddAttachmentInput": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "default": ""
          },
          "draft_id": {
            "type": "string",
            "title": "Draft Id"
          },
          "attachment": {
            "$ref": "#/components/schemas/AttachmentInput"
          }
        },
        "type": "object",
        "required": [
          "draft_id",
          "attachment"
        ],
        "title": "GmailAddAttachmentInput",
        "description": "Input for ``gmail_add_attachment``: append one file to a draft.\n\nTouches only the attachment list - body, subject, and recipients are\npreserved verbatim."
      },
      "GmailArchiveResult": {
        "properties": {
          "archived": {
            "type": "boolean",
            "title": "Archived"
          }
        },
        "type": "object",
        "required": [
          "archived"
        ],
        "title": "GmailArchiveResult"
      },
      "GmailAttachment": {
        "properties": {
          "filename": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Filename"
          },
          "mime_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mime Type"
          },
          "size": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Size"
          },
          "attachment_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Attachment Id"
          },
          "content_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content Id"
          },
          "data": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Data"
          }
        },
        "type": "object",
        "title": "GmailAttachment"
      },
      "GmailAttachmentData": {
        "properties": {
          "message_id": {
            "type": "string",
            "title": "Message Id"
          },
          "attachment_id": {
            "type": "string",
            "title": "Attachment Id"
          },
          "size": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Size"
          },
          "data_base64": {
            "type": "string",
            "title": "Data Base64"
          }
        },
        "type": "object",
        "required": [
          "message_id",
          "attachment_id",
          "data_base64"
        ],
        "title": "GmailAttachmentData",
        "description": "Raw bytes of a single attachment, fetched on demand.\n\n``data_base64`` is standard base64 (padded), ready to decode or re-upload."
      },
      "GmailAttachmentSource": {
        "properties": {
          "type": {
            "type": "string",
            "const": "gmail_attachment",
            "title": "Type",
            "default": "gmail_attachment"
          },
          "message_id": {
            "type": "string",
            "minLength": 1,
            "title": "Message Id",
            "description": "Id of the message the attachment lives on (from gmail_get_thread)"
          },
          "attachment_id": {
            "type": "string",
            "minLength": 1,
            "title": "Attachment Id",
            "description": "Stable attachment id from a gmail_get_thread attachment entry"
          }
        },
        "type": "object",
        "required": [
          "message_id",
          "attachment_id"
        ],
        "title": "GmailAttachmentSource",
        "description": "Locator for a PDF arriving as a Gmail attachment.\n\nResolved server-side by the Gmail bridge - the bytes never travel\nthrough the model's context."
      },
      "GmailComposeInput": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "default": ""
          },
          "to": {
            "type": "string",
            "title": "To"
          },
          "subject": {
            "type": "string",
            "title": "Subject"
          },
          "body": {
            "type": "string",
            "title": "Body"
          },
          "cc": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cc"
          },
          "bcc": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bcc"
          },
          "in_reply_to_thread_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "In Reply To Thread Id"
          },
          "attachments": {
            "items": {
              "$ref": "#/components/schemas/AttachmentInput"
            },
            "type": "array",
            "title": "Attachments"
          }
        },
        "type": "object",
        "required": [
          "to",
          "subject",
          "body"
        ],
        "title": "GmailComposeInput"
      },
      "GmailConnectInput": {
        "properties": {
          "user_id": {
[...]
